@import 'src/styles/variables';

.list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-self: flex-end;
    transform: translateY(-3px);
}

.item {
    padding-right: 58px;
    
    &:last-child {
        padding-right: 0;
    }
}

.header__link {
    display: block;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.03em;
    color: $color-white-smoke;
    color: $color-white-default;
    text-transform: uppercase;
}

.active {
    color: $color-tangerine;
}