@import 'src/styles/mixins.scss';

.root {
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.5;
  }
}

.input__field {
  @include visually-hidden;
}

.input__label {
  margin-left: 10px;

}

.input__field:checked~.input__label {
  border-bottom: 1px solid $color-tangerine;
}
