@import 'src/styles/variables';
@import 'src/styles/mixins';


.header {
    display: grid;
    grid-template-columns: 134px 60.2% 17.85% 11.61%;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;

    @include desktop-medium {
      grid-template-columns: 134px 55% 17.85% 16.65%;
      color: red;
    }
}

.header__absolute {
  position: absolute;
  top: 0;
  width: 1300px;
}

.header__phone {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    padding-bottom: 5px;
    padding-right: 10px;

    & a {
        font-size: 14px;
        font-variant-caps: all-small-caps;
        font-weight: 600;
        color: $color-white-smoke;
        letter-spacing: 0.03em;
    }
}

.isActive {
    color: $color-tangerine;
}

.footer {
  padding-bottom: 24px;

  & ul {
    display: flex;
    align-items: center;
  }
}
