@import 'src/styles/variables';
@import 'src/styles/mixins';

.filter_level {
  padding: 0;
}

.filter_level__list {
  display: grid;
  grid-template-columns: 156px 220px 166px 180px;
  align-items: center;
}

.filter_level__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-right: 1px solid $color-white-32;

  & label {
    cursor: pointer;
  }


  &:first-child {
    justify-content: flex-start;
    margin-left: 40px;
    line-height: 144%;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: $color-white-default;
  }
}

.input__field {
  @include visually-hidden;
}

.input__label {
  font-size: 16px;
  font-weight: 700;
  line-height: 144%;
  letter-spacing: 0.05em;
  padding-bottom: 2px;
}

.input__field:checked ~ .input__label {
  border-bottom: 1px solid $color-tangerine;
}
