@import 'src/styles/mixins';

.root {
  opacity: 1;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.5;
  }
}

.input__field {
  @include visually-hidden;
}

.input__label {
  font-size: 16px;
  font-weight: 700;
  line-height: 144%;
  letter-spacing: 0.05em;
  padding-bottom: 2px;
}

.isActive {
  border-bottom: 1px solid $color-tangerine;
}
