.card__wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

.card__image {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

.card__content {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  align-self: flex-end;
  padding-left: 20px;
  padding-bottom: 20px;
}

.card__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  color: var(--color-default-white);
  margin: 0 0 15px;
}

.card__info-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.card__info-item {
  display: flex;
  align-items: center;
  padding-right: 23px;
  position: relative;
}

.card__info-item:first-child::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 20px;
  top: 0;
  right: 10px;
  background-color: var(--color-default-white);
  opacity: 0.5;
}

.card__info-item span {
  font-size: 13px;
  font-weight: 500;
  line-height: 144%;
  color: var(--color-default-white);
  margin-left: 8px;
  opacity: 0.8;
}
